<div *ngIf="items">

  <div class="panel panel-default" *ngFor="let item of items; let i = index">
    <div class="panel-body">
      {{ item.title}}
      <span class="remove" (click)="deleteItem(item.$key)">X</span>
      <span class="edit" (click)="toggle[i] = !toggle[i]">edit</span>

      <form (ngSubmit)="updateItem(item.$key, item.title)" novalidate *ngIf="toggle[i]">
        <fieldset>
          <legend>Update item</legend>

          <div class="form-group">
            <label for="inputTitle" class="col-md-2 control-label">Titel</label>
            <input type="text" class="form-control" id="inputTitle" name="title-{{i}}" [value]="item.title" [(ngModel)]="item.title">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>

    </div>
  </div>

</div>

